<h1><strong><%= @word.name %></strong></h1>

<h2> <strong>Definitions</strong> <h2>

<% if @definitions.any?%>
  <ul>
    <% @definitions.each do |definition|%>
    <li><a href="/words/<%=@word.id%>/definitions/<%=definition.id %>"><%=definition.title%></a></li>
    <% end %>
  <% else %>
    <p> Be the first to add a definition!</p>
  <% end %>      

<form action="/words/<%=@word.id %>" method="post">
<input name="_method" type="hidden" value="post">
  <div class="form-group">

    <label for="definition_title"> Title</label>
    <input id="definition_title" name="definition_title" class="form-control" type="text">

    <label for="definition_body"> Body:</label>
    <textarea id="definition_body" name="definition_body" rows="10" cols="100">

    </textarea>
  </div>  
  <button type="submit" class="btn btn-primary"> Add Definition</button>
</form>  

<p><a href="/words">Back to Word Central</a></p>  